body {
	background-color: #eee;
	color: #555;
}

.buttons .add {
	background: url(../images/add.svg) no-repeat center;
}

.buttons .search {
	background: url(../images/search.svg) no-repeat center;
}

.buttons .button {
	display: inline-block;
	margin: 0 5px;
	height: 18px;
	width: 18px;
	cursor: pointer;
	opacity: 0.5;
	transition: 0.3s all;
}

.buttons .button:hover,
.buttons .button.selected {
	opacity: 1;
	border-color: #ddd;
}

.header-container {
	display: flex;
	align-items: center;
}
